Source: jamesg.blog
Section: misc
Priority: optional
Maintainer: Capjamesg James <jamesg@jamesg.blog>
Version: 2024.02.29
Build-Depends: debhelper (>= 11)
Standards-Version: 4.5.0
Package: jamesg.blog
Architecture: amd64
Description: James' Coffee Blog.

